@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,900&display=swap');

body{
	font-family: 'Roboto', sans-serif;
}
.color_blue{
    background: #232F3D;
}
.fondo-css{
	background-image: url("../images/image 2.png");
	background-color: #cccccc;
	height: 526px;
 	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  	/*position: relative;*/
}
.nuevoBack{
	background: #eaeded;
}
.card{
	height: 382px;
}
.backFooterInicio{
	background: #374759;
}
.backFooterFin{
	background: #222E3D;
}
.no-padding{
	padding-left: 0;
	padding-right: 0;
}
.contenedor{
	border-radius: 6px;
	border: 1px solid #DCDCDC;
	box-sizing: border-box;
}
.btn-inicio{
	background: linear-gradient(360deg, #EFC25C 9.31%, #F8E7C1 100%);
	border: 1px solid #9C7E37;
	box-sizing: border-box;
	border-radius: 4px;
	width: 100%;
	font-weight: 500;
}
.btn-crea{
	background: linear-gradient(360deg, #ECECEC 9.31%, #F9F9F9 100%);
	border: 1px solid #A5A5A5;
	box-sizing: border-box;
	border-radius: 4px;
	width: 100%;
	font-weight: 500;
}
.lineOn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #A5A5A5;
    font-size: 0.875rem;
}
.lineOn:before, 
.lineOn:after{
    content: '';
    border-top: 1px solid;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
    color: #C0C0C0;
}
.lineOn:after{
    margin: 0 0 0 20px;
}
.iniciar{
	font-size: 2.1875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2.56rem;

}
.footerLogin{
	background: linear-gradient(180deg, #F2F2F2 0%, rgba(255, 255, 255, 0) 50.49%);
}
.gris-span{
	font-size: 0.75rem;
	color: #A5A5A5;
	font-weight: normal;
}
.twin,
.btn-light{
	font-size: 0.875rem;
	line-height: 1.625rem;
}
.btn-light:hover{
	font-size: 0.875rem;
	line-height: 1.625rem;
	background: #FFE9D0;
	border: 1px solid #EBA076;
	box-sizing: border-box;
	font-weight: bold;
}
.imgShadow:hover{
	border: 1px solid #FF0E0E;
}
.imgSom{
	border: 0.5px solid #C0C0C0;
}
.containerBorder{
	border: 1px solid #DADADA;
	box-sizing: border-box;
	border-radius: 4px;
}
.container-detail{
	background: #EAEDED;
	border-radius: 0px 0px 4px 4px;
}
.gris-span-precio{
	font-size: 0.75rem;
	color: #A5A5A5;
	font-weight: normal;
}
.customers{
	font-weight: 900;
	font-size: 1.5625rem;
	line-height: 1.8125rem;
	color: #E18C5C;
}
.custom-juego, .by{
	font-size: 0.875rem;
}
.by{
	color: #A5A5A5;
}
.card{
	height: auto !important;
}
.inner-addon {
  position: relative;
}
.inner-addon .fas {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .fas {
  left: 0px;
}
.left-addon input {
  padding-left: 30px;
}
.bgtable{
	background: #EAEDED;
}
.garantia{
	font-weight: bold;
	font-size: 1.125rem;
	line-height: 1.315rem;
}
.info{
	font-size: 0.75rem;
}
.nuevo-gris{
	color: #BDBDBD;
}
.label-direccion{
	font-weight: 500;
}
.dp-especial{
	border: 1px solid #C0C0C0;
	box-sizing: border-box;
	border-radius: 4px;
}

.btn-editar{
	background: linear-gradient(360deg, #ECECEC 9.31%, #F9F9F9 100%);
	border: 1px solid #A5A5A5;
	box-sizing: border-box;
	border-radius: 4px;
	width: 100%;
	font-weight: 500;
}
.class-especificar{
	background: #F2F2F2;
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 1.1875rem;
}
.container-bor{
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 4px;
}
.btn-paypal{
	background: linear-gradient(180deg, #E4EFF5 -5.43%, #D6EAF3 139.12%);
	border: 1px solid #BAE7FD;
	box-sizing: border-box;
	border-radius: 4px;
}
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}